<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.it.mapper.MemberMapper">



	<select id="getList" resultType="com.it.domain.MemberVO">
		select * from tblmember order by m_rdate desc
		limit #{pageAmount} offset ${(pageNum-1) * pageAmount}
	</select>
	
	<insert id="insert">
		insert into tblmember(m_id, m_passwd, m_name, m_phone)
		values (#{m_id}, #{m_passwd}, #{m_name}, #{m_phone})
	</insert>
	
	<select id="read" resultType="com.it.domain.MemberVO">
		select * from tblmember where m_id = #{m_id} 
	</select>
	
	<update id="update">
		update tblmember set m_name = #{m_name}, m_phone=#{m_phone},  m_udate = now()
		where m_id = #{m_id}
	</update>
	
	<delete id="delete">
		delete from tblmember where m_id = #{m_id}
	</delete>
	
	<update id="upasswd">
		update tblmember set m_passwd = #{m_passwd} where m_id = #{m_id}
	</update>
	
	
	<select id="getTotalCount" resultType="int">
		select count(*) tblmember
	</select>
	
	
</mapper>