<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.it.mapper.AttendanceMapper">	
	
	<select id="getList" resultType="com.it.domain.AttendanceVO">
		SELECT * FROM attendance order by a_code DESC
	</select>
	
	<select id="read" resultType="com.it.domain.QualificationVO">
		SELECT * FROM attendance WHERE a_code = #{a_code}
	</select>
	
	<select id="readid" resultType="com.it.domain.QualificationVO">
		SELECT * FROM attendance WHERE m_id = #{m_id}
	</select>
	
	<insert id="insert">
		INSERT INTO attendance (m_code, c_code, a_sdate, a_edate) VALUES (#{m_code}, #{c_code}, #{a_sdate}, #{a_edate})
	</insert>
	
	<update id="update">
		UPDATE attendance 
			SET m_code = #{m_code}, c_code = #{c_code}, a_sdate = #{a_sdate}, a_edate = #{a_edate} WHERE a_code = #{a_code}
	</update>
	
	<delete id="delete">
		DELETE FROM attendance WHERE a_code = #{a_code}
	</delete>
	
</mapper>